# Exporting Files

In [17]:
name = ['GOES-16', 'IceSat-2', 'Himawari']
agency = ['NOAA', 'NASA', 'JAXA']
orbit = ['GEO', 'LEO', 'GEO']

In [18]:
import csv

with open('../data/satellite.txt', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    
    #adds a header
    writer.writerow(['name', 'agency', 'orbit'])
    
    #Writes each element as a single row
    for i in range(0, len(name)):
        writer.writerow([name[i], agency[i], orbit[i]])

In [19]:
import pandas as pd

df = pd.DataFrame({'name': name, 'agency': agency, 'orbit': orbit})
df.to_csv('../data/satellites.csv', index=False)

In [20]:
import pickle as pkl
pkl.dump(df, open("../data/satellites.p", "wb"))

In [21]:
satellites2 = pkl.load(open("../data/satellites.p", "rb"))
satellites2.head()

       name agency orbit
0   GOES-16   NOAA   GEO
1  IceSat-2   NASA   LEO
2  Himawari   JAXA   GEO

In [22]:
import numpy as np
np.savez('../data/satnames', name=name, agency=agency, orbit=orbit)

In [23]:
npzfile = np.load('../data/satnames.npz')
npzfile.files

['name', 'agency', 'orbit']

In [24]:
npzfile['name']

array(['GOES-16', 'IceSat-2', 'Himawari'], dtype='<U8')

In [25]:
from netCDF4 import Dataset
import numpy as np
from glob import glob

In [32]:
filenames = glob('../data/aod/JRR-AOD_v2r0*.nc')

In [33]:
#Import datasets
file_id = Dataset(filenames[0], mode='r')

In [34]:
for var in ['Latitude', 'Longitude', 'AOD550', 'QCAll']:
    print(var, file_id.variables[var].dimensions)

Latitude ('Rows', 'Columns')
Longitude ('Rows', 'Columns')
AOD550 ('Rows', 'Columns')
QCAll ('Rows', 'Columns')

In [35]:
for dim in ['Columns', 'Rows']:
    print(dim, len(file_id.dimensions[dim]))

Columns 3200
Rows 768

In [36]:
cols = len(file_id.dimensions['Columns'])
rows = len(file_id.dimensions['Rows'])

num_files = len(filenames)
file_id.close()

In [37]:
print(rows, cols, num_files)

768 3200 3

In [44]:
# Create output file name
output_filename = "../data/JRR-AOD-combined.nc"

In [45]:
# Open a new NetCDF file
rootgrp = Dataset(output_filename, 'w', format='NETCDF4')
rootgrp.description = 'Combined NOAA-20 AOD swaths for Alberta Fire'

In [46]:
# Format the latitude and logitude variables
lat = rootgrp.createDimension("lat", rows*num_files)
lon = rootgrp.createDimension("lon", cols)

In [48]:
latitudes = rootgrp.createVariable('Latitude', 'f4', ('lat', 'lon'), zlib=True, least_significant_digit=2)
longitudes = rootgrp.createVariable('Longitude', 'f4', ('lat', 'lon'), zlib=True, least_significant_digit=2)
variable = rootgrp.createVariable('AOD550', 'f4', ('lat', 'lon'), zlib=True, least_significant_digit=2, fill_value=-999.9)

In [49]:
latitudes.units = 'degrees north'
longitudes.units = 'degrees east'

In [50]:
var = np.zeros((rows * num_files, cols))
lats = np.zeros((rows * num_files, cols))
lons = np.zeros((rows * num_files, cols))

In [51]:
for filenum, filename in enumerate(filenames):
    file_id = Dataset(filename, mode='r')
    
    i1 = rows * filenum
    i2 = rows * (filenum + 1)
    
    # Get coordinates
    lats[i1:i2, 0:cols] = file_id.variables['Latitude'][:,:]
    lons[i1:i2, 0:cols] = file_id.variables['Longitude'][:,:]
    
    # Create and fill variables
    value = file_id.variables['AOD550'][:,:]
    
    # Simple binary quality flag
    dqf = file_id.variables['QCAll'][:,:]
    value[dqf != 0] = -999.9
    
    var[i1:i2, :] = value[:,:]
    
    file_id.close()

In [52]:
# Populate lat/lon/var
latitudes[:,:] = lats
longitudes[:,:] = lons
variable[:,:] = var

In [53]:
#Close original/modified NetCDF file
rootgrp.close()

In [54]:
import xarray as xr

In [57]:
fname = '../data/aod/JRR-AOD_v2r0*.nc'
aod = xr.open_mfdataset(fname, concat_dim='Rows', combine='nested')
filtered = aod['AOD550'].where(aod['QCAll'] == 0)

In [58]:
filtered.to_netcdf('../data/JRR-AOD-xarray-combined.nc')