# Introduction to Satellite Programming in Python

## Array Review

In [1]:
numbers_list = [4, 8, 15, 16, 23, 42]
numbers_list * 2

[4, 8, 15, 16, 23, 42, 4, 8, 15, 16, 23, 42]

In [2]:
import numpy as np
numbers_array = np.array(numbers_list)
numbers_array * 2

array([ 8, 16, 30, 32, 46, 84])

In [3]:
np.sort(numbers_array)

array([ 4,  8, 15, 16, 23, 42])

In [4]:
numbers_array_2d = numbers_array.reshape(2, 3)
numbers_array_2d

array([[ 4,  8, 15],
       [16, 23, 42]])

In [5]:
numbers_array_2d[1,1]

23

In [6]:
np.zeros(10), np.full(10, np.nan), np.arange(0, 5, 0.5)

(array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
 array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]),
 array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5]))

In [7]:
masked_nums = (numbers_array > 8)
masked_nums

array([False, False,  True,  True,  True,  True])

In [8]:
numbers_array[masked_nums]

array([15, 16, 23, 42])

In [9]:
numbers_mask_array = np.ma.array(numbers_array, mask=~masked_nums)
numbers_mask_array, numbers_array.size

(masked_array(data=[--, --, 15, 16, 23, 42],
              mask=[ True,  True, False, False, False, False],
        fill_value=999999),
 6)

In [10]:
numbers_array.min(), numbers_array.max()

(4, 42)

In [11]:
masked_nums_and = (numbers_array > 8) & (numbers_array < 30)
masked_nums_and

array([False, False,  True,  True,  True, False])

In [12]:
masked_nums_or = (numbers_array <= 8) | (numbers_array >= 30)
masked_nums_or

array([ True,  True, False, False, False,  True])

## Time Series Data

In [13]:
from datetime import datetime, timedelta

In [14]:
#September 22, 2004 at 4:16 PM
flight_time = datetime(2004, 9, 22, 4, 16)
flight_time.isoformat()

'2004-09-22T04:16:00'

In [15]:
flight_time.isoformat(), flight_time.strftime('%Y/%m/%d %H:%M')

('2004-09-22T04:16:00', '2004/09/22 04:16')

In [16]:
flight_time_shift = flight_time + timedelta(days=101)
flight_time_shift.strftime('%h %d %Y')

'Jan 01 2005'